<a href="https://colab.research.google.com/github/Sudheer-Arora/Challenge-Question/blob/main/Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L=["Ram","1","Shyam","2","Aman","3"]
print(L)

['Ram', '1', 'Shyam', '2', 'Aman', '3']

In [2]:
L.sort()

In [3]:
print(L)

['1', '2', '3', 'Aman', 'Ram', 'Shyam']

In [4]:
L=["Ram","1","Shyam","2","Aman","3"]
print(L)
L.sort()
print(L)

['Ram', '1', 'Shyam', '2', 'Aman', '3']
['1', '2', '3', 'Aman', 'Ram', 'Shyam']

In [6]:
L=["Ram","1","Shyam","2","Aman","3",6,7,4,2]
A=[str(i)for i in L]
print(A)
A.sort()
print(A)

['Ram', '1', 'Shyam', '2', 'Aman', '3', '6', '7', '4', '2']
['1', '2', '2', '3', '4', '6', '7', 'Aman', 'Ram', 'Shyam']

In [9]:
A1=[]
for i in A:
  try:
    A1.append(int(i))
  except:
    A1.append(i)
print(A1)

[1, 2, 2, 3, 4, 6, 7, 'Aman', 'Ram', 'Shyam']

In [ ]:
import time
t1=time.time()
for i in range(100000):
  for j in range(100000):
    x=900
t2=time.time()
print("Total time",t2.t1)